


.done {
    display: inline;
    background-color: green;
    color: white;
}

.loading {
    display: inline;
    background-color: orange;
    color: white;
}

.error {
    display: inline;
    background-color: darkred;
    color: white;
}

.disable {
    display: none;
}

.outputMSG {
    position: absolute;
    top: 2%;
    right: 2%;
    border-radius: 10%;
}