.heuristic {
    font-size: x-large;
}
@media only screen and (max-width: 600px) {
    .heuristic {
        font-size: 20px;
    }
}
.heuristicTH{
    background-color:#865114;
}
.heuristicTD{
    background-color:#fcffbe;
    border-bottom: 2px solid white;
    color:black;
}
.heuristicPage{
    color:black;
    text-shadow: 2px 2px 8px black;
}
#feedbacklist{
    margin: 8px;
}
#feedbackPar{
    margin:8px;
}
#marking{
    text-align: right;
}
#marking2{
    text-align: justify-all;
}
.exist{
    text-align: center;
    background-color:#fcffbe;
}
.title{
    text-align: center;
    text-decoration: underline;
    font-size: 65px;
}
#feedbacks{

    border-bottom: 1px solid black;
}
.comments{
    border-top: 2px solid #FFD700;
    border-bottom: 2px solid #FFD700;
    text-align: justify;
}
.headers{
    font-size: 50px;
}
p{
    font-size: 30px ;
    border: 1px solid black;
    background-color: #bfbfbf;
}
#left{
    float: left;
    margin-top: -20px;
}
#right{
    float: right;
    margin-top: -20px;
}
.headings{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: #bfbfbf;
    color: black;
    text-shadow: 1px 1px 1px white;

}
.pics img{
    height: 40%;
    width: 40%;
}

.pic2{
    float: right;
}
h3{
    text-align: center;
}

