#heuristic {
    font-size: x-large;
}
.heuristicTH{
    background-color:#865114;
}
.heuristicTD{
    background-color:#fcffbe;
}
.exist{
    text-align: center;
    background-color:#fcffbe;
}
.title{
    text-align: center;
    text-decoration: underline;
    font-size: 65px;
}
.headers{
    font-size: 50px;
}
p{
    font-size: 30px ;
}